<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <meta name="description" content="weather to fine the world weather information.">
    <meta name="robots" content="inde, follow">
    <title>weatherApp</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Hello world</h1>
</body>
</html>